<section class="story" *ngIf="storiesService.currentStory">
  <div class="story__head">
    <app-btn
      [isSmall]="true"
      *ngIf="!storiesService.currentStory.isFirst"
      (click)="storiesService.getStory({ storyURL: storyURL })"
    >
      <app-svg icon="return"></app-svg>
    </app-btn>

    <a class="story__link" [routerLink]="getUserLink(storiesService.currentStory.owner.login)">
      {{ storiesService.currentStory.owner.login }}
    </a>
  </div>

  <h1 class="story__title">{{ storiesService.currentStory.title }}</h1>

  <p class="story__text">{{ storiesService.currentStory.body }}</p>

  <ul class="story__list" *ngIf="storiesService.currentStory.options[0]">
    <ng-template ngFor let-item let-i="index" [ngForOf]="storiesService.currentStory.options">
      <li class="story__el">
        <app-btn class="story__btn" (click)="nextPage(storiesService.currentStory.nextPages[i])">
          {{ item }}
        </app-btn>
      </li>
    </ng-template>
  </ul>
</section>
